@import "../css/variables/variables";
@import "../css/mixins/my_mixins";

html[dir="rtl"] {
  @font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-ExtraBold.ttf");
    font-weight: 900;
  }

  * {
    font-family: "Almarai", sans-serif;
  }
}

body {
  margin: 0;
  background-color: var(--gray-color);
}
.main-page {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr;

  @media (min-width: 991px) {
    max-height: 100dvh;
  }
}
::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  background-color: var(--light-color, hsl(0deg, 0%, 100%));
}

::-webkit-scrollbar-thumb {
  border-radius: 0.7125rem;
  background-color: var(--neutral-400, hsl(216deg, 12%, 84%));
}

.qBtn {
  border: 1px solid var(--primary-color);
  background-color: var(--light-color);
  color: var(--primary-color);
  height: 36px;
  padding-block: 0.625rem;
  padding-inline: 0.75rem;
  font-size: 0.75rem;
  border-radius: 0.375rem !important;
  @include flexCenter();
  img {
    max-height: 1.25rem;
    max-width: 100%;
    filter: var(--primary-filter);
  }
  &:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    img {
      filter: var(--light-filter);
    }
  }
}
.circle-dots_btn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-100);
  cursor: pointer;
  border: none;
  &::after {
    display: none;
  }
  .circle-dots_img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}
.dropdown-items.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-block: 0.75rem;
  padding-inline: 0.92rem;
  border: 0;
  box-shadow: var(--kit-shadow);
  cursor: auto;
  .result-item {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-align: start;
    cursor: pointer;
    &:hover {
      background: transparent;
    }
    img {
      filter: var(--primary-filter);
    }
  }
}

.input {
  width: 100%;
  outline: 0;
  border: 0.0625rem solid var(--neutral-400);
  border-radius: 0.375rem !important;
  padding: 0.5rem 0.9375rem;
  height: 45px;
  transition: border-color 0.33s ease-in-out;
  font-size: clamp(0.84rem, 0.2vw + 0.2rem, 0.85rem);
  color: var(--dark-color);
  &:focus {
    border-color: var(--neutral-400);
    outline: 0;
    box-shadow: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--primary-color);
  }
  &:hover {
    border-color: var(--primary-color);
  }
}
.disabled {
  border: 0.0625rem solid var(--neutral-400);
  &:hover {
    border: 0.0625rem solid var(--neutral-400);
  }
}
.form-switch {
  padding: 0px;
  .switch {
    @include flexCenter();
    gap: 10px;
    .switch-input {
      margin: 0;
      border-radius: 2.125rem;
      cursor: pointer;
      background-color: var(--neutral-400);
      min-width: 47px;
      height: 23px;
      border: none;
      background-image: url("../images/icons/switch-btn.svg");
      background-position: right center;
      &:focus {
        box-shadow: none;
      }
      &:checked {
        background-color: var(--primary-color);
        background-position: left center;
      }
    }
  }
}
.dropdown-toggle {
  &::after {
    display: none;
  }
}

.attachments-modal {
  .modal-body {
    .upload-box {
      margin-block-start: 0.15rem;
      padding-block: 2rem;
      padding-inline: 0;
      border-radius: 0.375rem;
      border: 1px dashed var(--primary-color);
      position: relative;
      flex-direction: column;
      @include flexCenter();
      background-color: var(--primary-color-100);
      cursor: pointer;
      .file-label {
        cursor: pointer;
      }
    }
  }
}

.forward-modal {
  .radio-tab {
    position: relative;
    padding-right: 1.8rem;
    background: none;
    border: none;
    color: var(--neutral-700);
    font-weight: 500;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid #198754;
      background-color: transparent;
    }

    &.active {
      color: #198754;
      background-color: transparent;
      &::before {
        background-color: #198754;
        box-shadow: inset 0 0 0 3px #fff;
      }
    }
  }

  .nav-pills {
    .nav-link {
      margin: 0 0.75rem;
    }
  }

  .table {
    .table-light {
      th {
        background-color: var(--neutral-200);
      }
    }
    tbody {
      .table-radio {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        cursor: pointer;

        input[type="radio"] {
          width: 100%;
          height: 100%;
          border: 1px solid var(--primary-color);
          border-radius: 50%;
          background-color: transparent;
          position: relative;
          cursor: pointer;
          outline: none;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 8px;
            height: 8px;
            background-color: var(--primary-color);
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 0.2s ease;
          }

          &:checked::after {
            transform: translate(-50%, -50%) scale(1);
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      .table-checkbox {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        cursor: pointer;

        input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          width: 100%;
          height: 100%;
          border: 1px solid var(--neutral-400);
          border-radius: 4px;
          background-color: transparent;
          position: relative;
          cursor: pointer;
          outline: none;
          transition: background-color 0.2s ease, border-color 0.2s ease;

          &::after {
            content: "✔";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            font-size: 12px;
            color: var(--primary-color);
            transition: transform 0.2s ease, color 0.2s ease;
          }

          &:checked {
            background-color: var(--primary-color);
            border-color: var(--primary-color);

            &::after {
              transform: translate(-50%, -50%) scale(1);
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.modal {
  .modal-header {
    .btn-close {
      font-size: 12px;
      width: 1rem;
      height: 1rem;
      border-radius: 0.25rem;
      @include flexCenter();
      color: var(--dark-color);
      background-color: var(--neutral-100);
    }
    .modal-title {
      font-size: 1.125rem;
      text-align: center;
      font-weight: 700;
    }
  }
  .form-select {
    background-position: left 0.75rem center;
  }
  .title-input {
    min-height: 8rem;
    max-height: 15rem;
  }
  .form-label {
    font-size: 0.815rem;
    .star {
      font-size: 22px;
    }
  }
  .modal-footer {
    .qBtn {
      background: var(--main-gradient);
      border: none;
      color: var(--light-color);
      font-size: 14px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
