@import "../css/variables/variables";
@import "../css/mixins/my_mixins";
html[dir="rtl"] {
  @font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-ExtraBold.ttf");
    font-weight: 900;
  }

  * {
    font-family: "Almarai", sans-serif;
  }
}

body {
  margin: 0;
  background-color: var(--gray-color);
}
.main-page {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr;

  @media (min-width: 991px) {
    max-height: 100dvh;
  }
}
::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  background-color: var(--light-color, hsl(0deg, 0%, 100%));
}

::-webkit-scrollbar-thumb {
  border-radius: 0.7125rem;
  background-color: var(--neutral-400, hsl(216deg, 12%, 84%));
}

.qBtn {
  border: 1px solid var(--primary-color);
  background-color: var(--light-color);
  color: var(--primary-color);
  height: 36px;
  padding-block: 0.625rem;
  padding-inline: 0.75rem;
  font-size: 0.75rem;
  border-radius: 0.375rem !important;
  @include flexCenter();
  img {
    max-height: 1.25rem;
    max-width: 100%;
    filter: var(--primary-filter);
  }
  &:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    img {
      filter: var(--light-filter);
    }
  }
}
.circle-dots_btn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-100);
  cursor: pointer;
  border: none;
  &::after {
    display: none;
  }
  .circle-dots_img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}
.dropdown-items.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  padding-block: 0.75rem;
  padding-inline: 0.92rem;
  border: 0;
  box-shadow: var(--kit-shadow);
  cursor: auto;
  .result-item {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-align: start;
    cursor: pointer;
    &:hover {
      background: transparent;
    }
    img {
      filter: var(--primary-filter);
    }
  }
}

.input {
  width: 100%;
  outline: 0;
  border: 0.0625rem solid var(--neutral-400);
  border-radius: 0.375rem !important;
  padding: 0.5rem 0.9375rem;
  height: 45px;
  transition: border-color 0.33s ease-in-out;
  font-size: clamp(0.84rem, 0.2vw + 0.2rem, 0.85rem);
  color: var(--dark-color);
  &:focus {
    border-color: var(--neutral-400);
    outline: 0;
    box-shadow: none;
    border-bottom-width: 2px;
    border-bottom-color: var(--primary-color);
  }
  &:hover {
    border-color: var(--primary-color);
  }
}
.disabled {
  border: 0.0625rem solid var(--neutral-400);
  &:hover {
    border: 0.0625rem solid var(--neutral-400);
  }
}
.form-switch {
  padding: 0px;
  .switch {
    @include flexCenter();
    gap: 10px;
    .switch-input {
      margin: 0;
      border-radius: 2.125rem;
      cursor: pointer;
      background-color: var(--neutral-400);
      width: 47px;
      height: 23px;
      border: none;
      background-image: url("../images/icons/switch-btn.svg");
      background-position: right center;
      &:focus {
        box-shadow: none;
      }
      &:checked {
        background-color: var(--primary-color);
        background-position: left center;
      }
    }
  }
}
