.circle-dots {
    .dropdown-toggle::after {
        content: none;
    }

    .dropdown {
        .dropdown-toggle {
            width: 2.25rem;
            height: 2.25rem;
            @include border-radius(50%);
            @include flex-center-center();
            background-color: var(--light-300);
            cursor: pointer;

            &.bg-main-light {
                background: var(--light-300);
            }

            &.disabled {
                cursor: not-allowed;

                &:hover img[data-img="svg"] {
                    pointer-events: none;
                    filter: brightness(0) saturate(100%) invert(83%) sepia(13%) saturate(0%) hue-rotate(225deg) brightness(95%) contrast(84%);
                }
            }

            &:hover img[data-img="svg"] {
                filter: var(--color-img);
            }
        }

        .dropdown-menu {
            padding: 0 !important;
            border: none;
            min-width: 8rem;
            @include border-radius(0.18863rem);
            background-color: var(--neutral-50);
            box-shadow: var(--kit-shadow);
            height: unset !important;
            @include transform(translate(0px, 48px));
            gap: 0 !important;
            overflow: hidden;
            min-width: 144px;

            &.round {
                @include border-radius(0.6rem);
            }

            .dropdown-item {
                margin-block-end: 0;
                @include flex-start-center();
                gap: 0.5rem;
                cursor: pointer;
                padding: 10px 12px !important;
                height: unset !important;
                margin: 0 !important;

                &:hover {
                    background-color: var(--neutral-50);
                }

                &.checker {
                    input {
                        border-color: var(--neutral-900);
                    }

                    label {
                        font-size: 0.8rem;

                        &:before {
                            display: none;
                        }
                    }
                }

                .checkbox-label {
                    &:before {
                        padding: px(7);
                        width: 0.4rem;
                        height: 0.4rem;
                        margin-inline-end: px(6);
                    }
                }

                &.disabled {
                    border-color: var(--neutral-50);
                    color: var(--neutral-500);
                }
            }
        }
    }
}
