.confirm_popover {
    @include border-radius(0.5rem);
    background: var(--neutral-50);
    box-shadow: var(--div-shadow);
    padding: 1rem;
    width: px(220);
    position: absolute;
    bottom: px(70);
    left: px(8);
    z-index: 10;

    @include mq(min, w, mob) {
        width: px(270);
    }

    &:before {
        content: "";
        position: absolute;
        border: px(8) solid transparent;
        border-top-color: var(--neutral-50);
        bottom: -16px;
    }

    .info {
        font-size: px(14);

        .icon {
            width: px(16);
            height: px(17);
            display: inline-block;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><rect x="16" y="16.5" width="16" height="16" rx="8" transform="rotate(-180 16 16.5)" fill="%23F79009"/><path d="M8.10417 9.63568C8.25446 9.63568 8.39859 9.57598 8.50486 9.4697C8.61113 9.36343 8.67083 9.2193 8.67083 9.06901V5.66901C8.67083 5.51872 8.61113 5.37459 8.50486 5.26832C8.39859 5.16205 8.25446 5.10234 8.10417 5.10234C7.95388 5.10234 7.80974 5.16205 7.70347 5.26832C7.5972 5.37459 7.5375 5.51872 7.5375 5.66901L7.5375 9.06901C7.5375 9.2193 7.5972 9.36343 7.70347 9.4697C7.80974 9.57598 7.95388 9.63568 8.10417 9.63568ZM8.10417 11.9023C8.24426 11.9023 8.38121 11.8608 8.4977 11.783C8.61418 11.7051 8.70497 11.5945 8.75858 11.4651C8.81219 11.3356 8.82622 11.1932 8.79889 11.0558C8.77156 10.9184 8.7041 10.7922 8.60503 10.6931C8.50597 10.5941 8.37976 10.5266 8.24236 10.4993C8.10495 10.472 7.96253 10.486 7.8331 10.5396C7.70367 10.5932 7.59304 10.684 7.51521 10.8005C7.43738 10.917 7.39583 11.0539 7.39583 11.194C7.39583 11.3819 7.47046 11.562 7.6033 11.6949C7.73614 11.8277 7.9163 11.9023 8.10417 11.9023Z" fill="white"/></svg>');
        }
    }

    .qBtn {
        width: px(68);
        height: px(32);
        font-size: px(11);
        padding: 0;
        white-space: nowrap;

        &.qBtn_white {
            width: px(72);
            box-shadow: unset;
        }
    }

    &.confirm_save_popover {
        &:before {
            left: 50%;
            margin-inline-end: -8px;
        }
    }

    &.confirm_cancel_popover {
        &:before {
            left: px(15);
        }
    }
}
