.custom-tooltip {
    width: max-content;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    @include border-radius(0.5rem);
    position: absolute;
    top: -105%;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 2;
    background-color: var(--neutral-700);
    color: white;
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &::before {
        content: "";
        width: 0.625rem;
        height: 0.625rem;
        position: absolute;
        bottom: -15%;
        left: 50%;
        z-index: 1;
        @include transform(translateX(-50%) rotate(45deg));
        background-color: var(--neutral-700);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &.end-tag {
        @include transform(unset);
        left: 0;

        &:before {
            left: px(26);
        }
    }

}

    .tooltip {
        &.show {
            opacity: 1;
        }

        &.bs-tooltip-auto {
            .tooltip-inner {
                background-color: var(--neutral-700);
                @include border-radius(0.5rem);
            }

            .tooltip-arrow {
                &:before {
                    border-top-color: var(--neutral-700);
                }
            }
        }
    }
