.ddl-tooltip {
    min-width: 18rem;
    min-height: 5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    @include border-radius(0.375rem);
    border: 0.915px solid var(--table-row-bg);
    background-color: var(--white);
    box-shadow: var(--kit-shadow);
    cursor: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &.full-width {
        left: 0;
        right: 0;
        right: 0;
    }

    &__header {
        @include flex-between-center();

        .title {
            text-align: start;
            font-size: clamp(12px, 13px, 16px);
            font-style: normal;
            font-family: var(--font-family-Bold);
            color: var(--dark-500);
        }
    }

    &-close {
        width: px(16);
        height: px(16);

        @include flex-between-center();
        display: inline-flex;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M9.85971 8.00689L13.3884 4.47822C13.4521 4.41673 13.5028 4.34316 13.5378 4.26183C13.5727 4.18049 13.5911 4.09301 13.5919 4.00449C13.5927 3.91597 13.5758 3.82818 13.5423 3.74625C13.5087 3.66432 13.4592 3.58989 13.3966 3.52729C13.334 3.4647 13.2596 3.4152 13.1777 3.38168C13.0958 3.34815 13.008 3.33129 12.9194 3.33206C12.8309 3.33283 12.7434 3.35122 12.6621 3.38616C12.5808 3.4211 12.5072 3.47188 12.4457 3.53556L8.91705 7.06422L5.38838 3.53556C5.26264 3.41412 5.09424 3.34692 4.91945 3.34844C4.74465 3.34996 4.57744 3.42007 4.45383 3.54368C4.33023 3.66728 4.26012 3.83449 4.2586 4.00929C4.25708 4.18409 4.32427 4.35249 4.44571 4.47822L7.97438 8.00689L4.44571 11.5356C4.38204 11.5971 4.33125 11.6706 4.29631 11.752C4.26137 11.8333 4.24298 11.9208 4.24221 12.0093C4.24144 12.0978 4.25831 12.1856 4.29183 12.2675C4.32535 12.3495 4.37485 12.4239 4.43745 12.4865C4.50004 12.5491 4.57448 12.5986 4.65641 12.6321C4.73834 12.6656 4.82613 12.6825 4.91465 12.6817C5.00317 12.681 5.09065 12.6626 5.17198 12.6276C5.25332 12.5927 5.32688 12.5419 5.38838 12.4782L8.91705 8.94956L12.4457 12.4782C12.5714 12.5997 12.7399 12.6669 12.9146 12.6653C13.0894 12.6638 13.2567 12.5937 13.3803 12.4701C13.5039 12.3465 13.574 12.1793 13.5755 12.0045C13.577 11.8297 13.5098 11.6613 13.3884 11.5356L9.85971 8.00689Z' fill='%23171721'/%3E%3C/svg%3E");
        cursor: pointer;
    }

    &__body {
        .error-msg {
            margin-top: 0.7rem;
            margin-bottom: 0;
            font-size: 0.8rem;
            color: var(--danger-500);
        }
    }
}
