.fillter-tabs {
    @include display-flex("space-between", "center", "nowrap", "row");
    gap: px(10);
    padding: 0.5rem 0.2rem;
    width: 100%;
    flex-direction: row;

    @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
        @include mq($type: max, $dimension: w, $breakpoint-name: sm-wide) {
            flex-direction: column;
        }
    }

    &.secondary {
        width: auto;
        padding: 0;
        padding-block: 0.25rem;

        @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
            @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                width: 100%;
            }
        }

        .left-side {
            margin-top: 0;
            padding-inline-end: 0.5rem;

            @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-inline-end: 0rem;
                }
            }

            .content {
                margin-top: 0;
                padding-inline: 0;

                @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                    @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                        width: 100%;
                    }
                }

                .dropdown {
                    @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                        @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                            width: 100%;

                            .select-wrapper {
                                width: 100%;

                                select {
                                    max-width: 100% !important;
                                }
                            }
                        }
                    }
                }

                .arrow-item-down {
                    position: absolute;
                    left: 5%;
                    top: 50%;
                    @include transform(translateY(-50%));
                }

                .search {
                    margin-inline-end: 0;
                    border: 0.03125rem solid #d1d5db;
                    @include border-radius(0.25rem);

                    &.secondary {
                        @include mq(max, w, sm-wide) {
                            max-width: none;
                            width: 25%;
                            flex-grow: 0;
                        }
                    }

                    button.btn {
                        border: none;
                        padding-inline-start: 0.25rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;

                        &:focus {
                            border: none;
                        }

                        svg {
                            position: relative;
                        }

                        input {
                            font-size: 0.9rem;
                            padding-inline-start: 0;
                        }
                    }

                    .dropdown-menu {
                        @include transform(translate(20px, 28px) !important);

                        @media (max-width: 778px) {
                            @include transform(translate(2px, 28px) !important);
                        }
                    }
                }
            }

            .btn-search {
                @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                    @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                        display: block !important;
                    }
                }
            }
        }
    }

    .right-side {
        @include display-flex("flex-start", "center", "nowrap", "row");
        gap: px(12);

        @include mq(max, w, lg) {
            width: 100%;
        }

        @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
            @include mq($type: max, $dimension: w, $breakpoint-name: sm) {
                flex-grow: 1;
                width: 100%;
            }
        }

        .dropdown {
            background: transparent;
            border: 1px solid #d1d5db;
            @include border-radius(px(4));
            @include border-radius(px(4));
            height: var(--lg-height);

            &-toggle {
                color: #98a1ae;
                font-size: px(11);
                background: var(--white);
                padding: px(9) px(15);
                width: 100%;
                border: none;
                min-width: 8rem;
                max-width: px(250);
                max-height: px(210);
                cursor: pointer;
                padding-inline: 0.6rem !important;
                text-align: right;

                option {
                    text-align: right;
                    font-size: px(15);
                    color: var(--neutral-400);
                }

                .bold {
                    color: #46515d;
                    padding-inline-end: px(4);
                }

                .icon_arrow {
                    vertical-align: middle;
                }

                &:focus {
                    box-shadow: none;
                    border: none;
                }
            }

            .select-wrapper {
                @include flex-between-center();
                position: relative;
                height: px(35);
                width: 8rem;
                @include border-radius(px(5));

                .icon_arrow {
                    position: absolute;
                    left: px(6);
                    top: auto;
                    color: #98a1ae;
                }
            }

            .custome-dropdown {
                margin-top: px(7) !important;
                border: px(1) solid #d1d5db;
                padding-inline: px(5) !important;
                min-width: 8rem;
                max-width: px(250);
                max-height: px(210);
                overflow: auto;
                border-bottom: 0;

                .dropdown-item {
                    border-bottom: px(1) solid #d1d5db;
                    padding: px(1) 0 px(2);
                    text-align: right;
                    @include transition();

                    a {
                        color: #46515d;
                        font-size: px(11);

                        &.selected {
                            color: var(--main-color) !important;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        a {
                            color: var(--main-color);
                            background: transparent;
                        }
                    }
                }
            }
        }

        .list-date {
            display: flex;

            @include mq(max, w, lg) {
                margin-right: auto;
            }

            .item {
                padding: px(5) px(8);
                border: px(1) solid #8f92a1;
                cursor: pointer;

                a {
                    color: #8f92a1;
                    font-size: px(11);
                }

                &.active {
                    border: px(1) solid var(--main-color);
                    background-color: var(--light-300);

                    a {
                        color: var(--main-color);
                    }
                }

                &:first-child {
                    @include border-radius(0 px(4) px(4) 0);
                }

                &:last-child {
                    @include border-radius(px(4) 0 0 px(4));
                    border-right: 0;
                }
            }
        }
    }

    .left-side {
        @include display-flex("space-between", "center", "nowrap", "row");
        gap: 0.25rem;

        @include mq($type: max, $dimension: w, $breakpoint-name: lg) {
            width: 60%;
        }

        @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
            flex-grow: 1;
        }

        @include mq($type: max, $dimension: w, $breakpoint-name: sm-wide) {
            width: 100%
        }

        .content {
            @include flex-start-center();
            gap: 0.5rem;

            @media (max-width: 778px) {
                width: 100%;
            }

            .dropdown {
                background: transparent;
                border: 1px solid #d1d5db;
                @include border-radius(px(4));
                @include border-radius(px(4));

                @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                    @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                        flex: 1 1 40% !important;
                        box-sizing: border-box;
                    }
                }

                .select-wrapper {
                    select {
                        color: #98a1ae;
                        background: var(--white);
                        padding: 0.5625rem 0.9375rem;
                        width: 100%;
                        border: 0;
                        min-width: 8rem;
                        max-width: 15.625rem;
                        max-height: 13.125rem;
                        cursor: pointer;
                        padding-inline: 0.6rem !important;
                        text-align: right;
                        font-size: 0.8rem;
                        text-align-last: start;
                        color: #6e7887 !important;

                        @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                            @include mq($type: max, $dimension: w, $breakpoint-name: sm) {
                                width: 100%;
                                max-width: 100%;
                            }
                        }

                        &:focus {
                            box-shadow: none;
                        }

                        .dropdown-item {
                            font-size: 1rem;
                            cursor: pointer;
                        }
                    }

                    @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                        @include mq($type: max, $dimension: w, $breakpoint-name: sm) {
                            width: 100% !important;
                        }
                    }
                }
            }

            .search {
                max-width: px(115);
                @include border-radius(px(4));
                border: px(0.5) solid #d1d5db;
                padding: 0 px(3);
                position: relative;
                height: var(--lg-height);

                @include breakpoints(xlarge) {
                    margin-inline-end: 0;
                    padding: 0 px(2);
                }

                @include mq($type: min, $dimension: w, $breakpoint-name: xs) {
                    @include mq($type: max, $dimension: w, $breakpoint-name: lg) {
                        width: 33%;
                        max-width: 33%;
                    }
                }

                input[type="search"] {
                    width: 100%;
                    border: none;
                    padding-block: 0.5rem;
                    padding-inline-start: 1.2rem;
                    font-size: px(11);
                }

                label {
                    cursor: pointer;
                }

                input[type="radio"] {
                    accent-color: var(--main-color);
                    cursor: pointer;
                }

                .icon,
                svg {
                    position: absolute;
                    right: px(4);
                    top: 30%;

                    img {
                        width: px(15);
                        height: px(15);
                    }
                }

                &:focus {
                    .search {
                        border: px(1) solid var(--main-color);
                    }
                }

                .btn {
                    padding-block: 0.5rem;
                    background: transparent;
                    font-size: px(11);
                    border: none;
                    padding: 0;
                    line-height: 34px;

                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }

                    @include mq($type: min, $dimension: w, $breakpoint-name: xs) {
                        @include mq($type: max, $dimension: w, $breakpoint-name: lg) {
                            width: 100%;
                        }
                    }
                }

                @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                    @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                        flex: 1 1 40% !important;
                        box-sizing: border-box;
                        max-width: none;
                        width: none;
                    }
                }

                .dropdown {
                    @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                        @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                            width: 100%;
                            max-width: 100%;
                        }
                    }

                    max-width: px(185);

                    &-menu {
                        top: px(11) !important;
                        right: px(3) !important;
                        @include transform(translate(3px, 23px) !important);

                        .dropdown-item {
                            padding: px(5) 0;

                            label {
                                font-size: px(12);
                                color: #111928;

                                @include mq(min, w, sm) {
                                    font-size: px(12.45);
                                }
                            }

                            &:first-child {
                                p {
                                    color: var(--neutral-400);
                                    font-size: px(11);
                                }
                            }

                            .input_date {
                                padding: 0;

                                input {
                                    padding: px(3) px(4) !important;
                                    border: px(1) solid #dadde0;
                                    @include border-radius(px(4));

                                    &:focus {
                                        border-color: var(--main-color);
                                    }
                                }
                            }

                            &:hover {
                                background: transparent;
                            }

                            .btn-group {
                                margin-top: px(0);

                                @include mq(max, w, lg) {
                                    margin-right: auto;
                                }
                            }
                        }
                    }

                    select {
                        @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                            @include mq($type: max, $dimension: w, $breakpoint-name: xs) {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }

            @include mq($type: min, $dimension: w, $breakpoint-name: xs) {
                @include mq($type: max, $dimension: w, $breakpoint-name: lg) {
                    flex-wrap: nowrap !important;
                    gap: 1rem;
                }
            }
        }

        .btn-group {
            gap: 0.25rem;

            @media (max-width: 778px) {
                width: 100%;
            }

            .qBtn {
                @media (max-width: 778px) {
                    width: 48%;
                    flex-grow: 1 !important;
                }
            }

            @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
                @include mq($type: max, $dimension: w, $breakpoint-name: sm) {
                    flex: 1 1 35% !important
                }
            }
        }

        @include mq($type: min, $dimension: w, $breakpoint-name: mob-min) {
            flex-grow: 1;
        }
    }


    & + div {
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: px(5);
            height: px(3.5);
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--main-color);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--main-color);
        }
    }
}
