.multi-select-desc {
    position: relative;
    @include border-radius(9px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-50, #ffffff);

    &:focus-within:not(.desc-container-action) .desc-container {
        border-color: var(--main-color, hsl(114deg, 39%, 37%));
    }

    &__body {
        .desc-container {
            width: 100%;
            padding-block: 0.3rem;
            padding-inline-end: 1rem;
            @include border-radius(9px);
            border: 1px solid transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--neutral-50, #ffffff);
            box-shadow: var(--input-shadow);
            transition: border-color 0.3s ease-in-out;

            .inpt {
                border: none;
                outline: none;
            }

            &-action {
                display: flex;
                gap: 0.6rem;

                .icon {
                    width: px(24);
                    height: px(24);
                    padding: px(3);
                    @include border-radius(5px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: var(--neutral-100);

                    &.check {
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none"><path d="M13.1562 1.77734L4.90625 10.0273L1.15625 6.27734" stroke="%2341843A" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    &.close {
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"><path d="M11.951 1.41016L1.4375 11.9236M1.4375 1.41016L11.951 11.9236" stroke="%23F04438" stroke-width="1.92747" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}
