.nav-tabs {
    padding-bottom: 0.22rem;
    display: flex;
    flex-wrap: nowrap;
    row-gap: 1rem;

    & + button {
        font-size: 0.85rem;
        white-space: nowrap;
    }

    @include mq(max, w, lg) {
        overflow-y: auto;

        @supports (-webkit-appearance: none) {
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
                box-shadow: none;
                @include border-radius(10px);
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                background-color: white;
                height: px(7);
            }

            &::-webkit-scrollbar-thumb {
                @include border-radius(5px);
                box-shadow: none;
                background-color: #98a1ae;
            }
        }

        @supports not (-webkit-appearance: none) {
            @include border-radius(0.3125rem);
            scrollbar-color: var(--main-color, #41833a) transparent;
            scrollbar-width: thin;
        }
    }

    @include mq(max, w, md) {
        border: 0;
        align-items: center;
        padding-bottom: 1rem;
        width: 100%;
        overflow-x: auto;

        & + button {
            align-self: flex-end;
        }
    }

    @include mq(max, w, xs) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 0.5rem;
    }

    .nav-item {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        min-width: max-content;

        &:has(> .active) {
            &::after {
                content: "";
                width: 100%;
                height: 0.13rem;
                position: absolute;
                right: 0;
                bottom: -4px;
                background: var(--main-color);

                @include mq(max, w, xs) {
                    bottom: 0;
                    height: px(2);
                }
            }
        }

        .circle {
            width: px(17);
            height: px(17);
            position: relative;
            display: inline-block;
            @include border-radius(50%);
            border: 1px solid #98a1ae;
            display: none;
        }

        .nav-link {
            position: relative;
            border: 0;
            color: #98a1ae;
            @include flex-center-center();
            gap: 0.5rem;
            font-family: Almarai-Bold;
            @include mq(max, w, mob-wide) {
                font-size: 0.85rem;
            }

            &:hover {
                border: 0;
            }

            &.error {
                border: 0;
                color: #f04438;

                &:after {
                    content: "";
                    width: 100%;
                    height: 0.125rem;
                    position: absolute;
                    right: 0;
                    bottom: -3px;
                    background: #f04438;

                    @include mq(min, w, xs) {
                        bottom: -0.22rem;
                    }
                }

                & + .circle {
                    border-color: #f04438;
                }
            }

            &.active {
                border: 0;
                color: var(--main-color);

                img {
                    filter: var(--color-img);
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 0.01rem;
                    position: absolute;
                    right: 0;
                    bottom: -3px;
                    background: var(--main-color);
                    display: none;

                    @include mq(max, w, xs) {
                        bottom: 0;
                        height: px(2);
                    }
                }

                .circle {
                    border-color: var(--main-color);

                    &.marked {
                        &:before {
                            content: "✓";
                            @include flex-center-center();
                            color: var(--main-color);
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}




.modal_general {

    .nav-tabs {
        margin-bottom: px(20);

    }
}