// qBox-Card


.qBox {
    position: relative;
    @include border-radius(px(22));
    background: var(--neutral-50);
    @include prefixing-web(box-shadow, var(--div-shadow));

    &.screen {
        height: calc(100vh - px(179));
        @include border-radius(0.4375rem);
        margin-bottom: 1.5rem;
        overflow-y: auto;
        @include scroll();

        @include mq(max, w, mob-wide) {
            height: calc(100vh - 10.188rem);
        }

        &.full {
            height: calc(100vh - 11.1875rem);
        }
    }

    &.bgc-white.first {
        .statistics-count {
            /*flex-wrap: wrap;*/
            gap: 0.9rem;
            padding: px(16) px(20);
            justify-content: space-between;

            .statistics-card {
                /*width: calc(33.33% - .5rem);*/
                /*min-height: px(140);
                padding: px(15) 0;
                border: 1px solid var(--neutral-300);
                @include border-radius(px(8));
                margin: px(8) 0 0;*/
                @include display-flex("", "center", "wrap");

                .cRound {
                    width: 3rem;
                    height: 3rem;
                    .icon_v {
                        width: 80%;
                        height: 80%;
                    }
                }

                &__info {
                    gap: 0;

                    &__num {
                        /*margin: 0 auto;*/
                        font-size: px(16);
                    }

                    &__title {
                        font-size: px(15);

                        @include breakpoints(xlarge) {
                            font-size: px(15);
                        }

                        @include breakpoints(sm) {
                            font-size: px(13);
                        }
                    }
                }

                @include breakpoints(md) {
                    width: 100%;
                }

                @include breakpoints(xs) {
                    width: 48%;
                }

                @media (max-width: 480px) {
                    width: 80%;
                }
            }

            @media (max-width: 1554px) {
                gap: 0.5rem;
                padding: px(16) px(12);
            }

            @include breakpoints(md) {
                gap: 1.5rem;
            }

            @include breakpoints(sm) {
                gap: 1.5rem;
            }

            @include breakpoints(xs) {
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            @media (max-width: 480px) {
                gap: 0.5rem;
            }
        }

        .transactions {
            @include border-radius(px(5));
            display: none;
        }
    }
}

#div_statistic {
    @include mq(max, w, sm) {
        &.qBox, .qBox {
            border-radius: 0;
            background: transparent !important;
            box-shadow: unset;
        }

        .statistics-count {
            flex-direction: column;
            align-items: start;
            padding: 16px 2px;

            .statistics-card {
                border-radius: 0.375rem;
                border: 0.651px solid var(--neutral-200);
                background: var(--neutral-50);
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100% !important;
                padding-block: .75rem;
                box-shadow: var(--div-shadow);

                .statistics-card__info {
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}


#div_incomeTreats {
    @include mq(max, w, sm) {
        display: none !important;
    }
}

#div_boxVersus {
    @include mq(max, w, sm) {
        order: -1;
    }
}

#boxVersus_items .col:first-child {

    @include mq(max, w, sm) {
        display: none !important;
    }
}
