// shapes
.cRound {
    @include border-radius(50%);
    @include flex-center-center();
    @include gradient( 336, var(light-300), 100%, var(--main-700), 85% );
    min-height: px(50);
    min-width: px(50);

    &.gray-gradient {
        background: var(--neutral-300);
    }

    &.white-gradient-2 {
        @include gradient(180, var(--white), 0%, var(--neutral-300), 100%);
    }

    &.blue-gradient {
        @include gradient(207, #7277fb, 0%, #b6c2fc, 100%);
    }

    &.pink-gradient {
        @include gradient(213, #fb72c8, 0%, #fcb6e2, 100%);
    }


    &.yellow-gradient {
        @include gradient(336, var(--orange), 0%, var(--orange-2), 100%);
    }
}
