.tab-filter {
    border-radius: 0.25rem;
    background-color: var(--neutral-50);
    cursor: pointer;
    transition: all 0.33s ease-in-out;

    @media (min-width: 1441px) {
        flex-grow: 1;
    }

    &-container {
        display: flex;
        gap: 0.75rem;
        flex-wrap: wrap;

        @include mq(max, w, xs) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &:focus-within {
        border-color: var(--main-color);
    }

    &__main {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        border: 1px solid var(--neutral-300);
        border-radius: 0.25rem;
        padding-block: 0.75rem;
        @include flex-center-center();
        gap: 0.29rem;
        cursor: pointer;
        transition: all 0.33s ease-in-out;

        &.min-width {
            min-width: px(110);
        }

        @include mq(max, w, md) {
            justify-content: space-between;
        }

        @include mq(min, w, xl-max) {
            justify-content: space-between;
        }

        &[aria-expanded="true"] {
            border: 1px solid var(--main-color);

            .tab-arrow {
                @include transform(scaleY(-1));
                filter: var(--color-img);
            }
        }

        .tab-arrow {
            width: 0.55rem;
            transition: all 0.33s ease-in-out;
        }

        &.disabled {
            color: var(--neutral-300);
            cursor: not-allowed;
            pointer-events: none;

            svg {
                color: var(--neutral-300);
            }
        }
    }

    &__title {
        width: 100%;

        @include flex-center-center();
        gap: 0.25rem;
        overflow-x: hidden;
        overflow-y: hidden;

        &.start {
            justify-content: flex-start;
        }
    }

    &__text {
        width: 90%;
        color: var(--neutral-900);
        font-size: 0.8125rem;
        text-wrap: nowrap;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include vendor-prefix(user-select, none);
        overflow-x: hidden;
        overflow-y: hidden;
        height: 19px;

        @include mq(max, w, xs) {
            font-size: 0.7rem;
        }
    }

    &__content {
        min-width: 12rem;
        @include border-radius(0.22888rem);
        border: 1px solid var(--table-row-bg);
        background-color: var(--neutral-50);
        box-shadow: var(--div-shadow);

        &.fixed-height {
            max-height: 22rem;
            overflow-x: hidden;
            overflow-y: auto;
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: px(4);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--main-color);
                @include border-radius(6px);
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }
        }

        &.tab-menu {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;

            &.show {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .tab-item {
                padding: 0;
                cursor: pointer;
                transition: all 0.33s ease-in-out;

                &.from-filter:hover {
                    background-color: var(--light-300);
                    color: var(--main-color);
                }

                &.not-filter {
                    padding-inline-start: 0.92rem;

                    @include flex-start-center();
                    gap: 0.5rem;
                    font-size: 0.80094rem;
                    text-align: start;

                    .radio-btn {
                        cursor: pointer;
                    }

                    &:hover {
                        color: var(--main-color);
                        background: transparent;
                    }
                }
            }
        }

        &.round {
            border-radius: 0.6rem;
        }

        .results {
            margin-top: 0.5rem;

            .result-item {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-inline-start: 0.5rem;
                border-bottom: 1px solid var(--table-header-bg);
                text-align: start;
                transition: all 0.33s ease-in-out;

                &:last-child {
                    border-bottom-color: transparent;
                }

                &:hover {
                    background-color: var(--light-300);

                    .result-item__text {
                        color: var(--main-color);
                    }
                }

                &__text {
                    color: var(--neutral-900);
                    font-size: 0.88rem;
                }
            }
        }
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        filter: brightness(0) saturate(100%) invert(89%) sepia(6%) saturate(10%) hue-rotate(135deg) brightness(82%) contrast(93%);
        user-select: none;
    }
}
