.tags-container {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    .box-tag {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-top: 0.38rem;
        padding-bottom: 0.38rem;
        @include border-radius(0.25rem);
        display: inline-flex;
        align-items: center;
        gap: 0.575rem;
        background-color: var(--neutral-200);

        &__text {
            color: var(--neutral-900);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__cancel {
            width: px(7);
            cursor: pointer;

            img {
                width: 100%;
            }
        }
    }
}
