.wrap-action {
  @include flex-center-center();
  gap: 0.35rem;
  background-color: transparent;
  color: var(--main-color);
  font-size: px(15);

  &:hover {
    img[data-img="svg"] {
      filter: var(--color-img);
    }
  }
}
