:root {
  --primary-color: #41843a;
  --primary-color-100: #edf6ec;
  --secondary-color: #6e7887;
  --dark-color: #1d1d35;
  --light-color: #fff;
  --gray-color: #edf1f5;
  --neutral-700: #6e7887;
  --neutral-500: #98a1ae;
  --neutral-400: #d1d5db;
  --neutral-300: #e2e5e9;
  --neutral-200: #edf1f5;
  --neutral-100: #f9fafb;
  --main-gradient: linear-gradient(to left, #8cc285 0%, #466143 100%);

  --primary-filter: invert(46%) sepia(18%) saturate(1323%) hue-rotate(67deg)
    brightness(92%) contrast(92%);
  --secondary-filter: invert(54%) sepia(13%) saturate(473%) hue-rotate(177deg)
    brightness(83%) contrast(86%);
  --light-filter: invert(92%) sepia(100%) saturate(23%) hue-rotate(251deg)
    brightness(108%) contrast(100%);
  --gray-filter: invert(58%) sepia(0%) saturate(3400%) hue-rotate(13deg)
    brightness(87%) contrast(97%);
  --danger-filter: invert(17%) sepia(72%) saturate(6801%) hue-rotate(357deg)
    brightness(100%) contrast(115%);

  --div-shadow: 0 0.25rem 0.375rem 0 hsla(0, 0%, 4%, 0.08);
  --kit-shadow: 0 0.1875rem 1.3125rem 0 hsla(0, 0%, 0%, 0.16);
}
